html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%; /*10px*/
  font-family: "Raleway", sans-serif;
}
body {
  background-color: rgb(145, 225, 245);
}
.header {
  font-size: 10rem;
  text-align: center;
  background-color: rgb(0, 202, 202);
  box-shadow: 0px 10px 3px rgb(0, 112, 112);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  width: 25%;
  font-size: 4rem;
  background-color: rgb(0, 202, 202);
  border: 3px solid rgb(0, 148, 148);
  box-shadow: 10px 10px 3px rgb(0, 112, 112);
  text-align: center;
  padding: 1rem;
  margin: 5vw 1rem 5vw 0;
  transition: all 0.3s ease-in-out;
}
#card-img {
  width: 90%;
  margin: 5%;
  height: 80%;
}
.card:hover {
  transform: scale(1.1);
}
.gallery .card:not(:hover) {
  transform: scale(0.9);
}
.gallery:hover .card:not(:hover) {
  transform: scale(0.9);
  opacity: 0.8;
}
/*Button below*/
.form-test::before {
  content: "\2713";
  font-size: 2rem;
}
.button-test {
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}
.button-test:hover {
  transform: scale(1.5);
}
/*Button above*/
.animation {
  height: 2rem;
  width: 2rem;
  position: absolute;
  animation: test 4s infinite;
}
@keyframes test {
  0% {
    left: 50%;
    bottom: 10%;
    background-color: red;
  }
  25% {
    left: 50%;
    bottom: 20%;
    background-color: blue;
  }
  50% {
    left: 55%;
    bottom: 20%;
    background-color: green;
  }
  75% {
    left: 55%;
    bottom: 10%;
    background-color: yellow;
  }
  100% {
    left: 50%;
    bottom: 10%;
    background-color: purple;
  }
}
.anim-pg-load {
}
#anim-pg-load-img {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  animation: pg-load 4s 1;
}
@keyframes pg-load {
  0% {
    right: 0%;
    bottom: 0%;
  }
  100% {
    left: -100%;
    top: -100%;
  }
}
